// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************
//Grid:
//.container
//.grid__row
//.grid__col--2
//.grid__col--3
//.grid__col--4
//.grid__col--5
//.grid__col--6
//.grid__col--7
//.grid__col--8
//.grid__col--9
//.grid__col--10
//.grid__col--11
//.grid__col--12
//.centered

.container {
  @include flexy (flex, column);
  @include center;
  color: $color-font;
  font-family: $font-stack;
  max-width: $breaklg;
}

//.theme__colors
// .grid__col
.grid{
&__col {

  @for $i from 1 through 12 {
    &--#{$i}.theme__colors {
      @extend %grid-lbl;

      @include mq {
        text-align: center;
      }
    }
  }
}
}

.grid__col--12.theme__colors {
  background-color: $teal;
}

.grid__col--6.theme__colors {
  background-color: $darkblue;
}

.grid__col--4.theme__colors {
  background-color: $lightblue;
}

.grid__col--3.theme__colors {
  background-color: $lightpurple;
}

.grid__col--5.theme__colors {
  background-color: $green;
}

.grid__col--7.theme__colors {
  background-color: $red;
}

.grid__col--8.theme__colors {
  background-color: $orange;
}

.centered.grid__col--7 {
  @include mq {
    @include center;
  }
}



// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    @include flexy (flex, column);

    .grid__col--12{
      @include flexy (flex, column);
      @include mq {
        flex-direction: row;
        justify-content: space-around;
      }
    }

      @include mq {
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        padding: 15px;


        @include mq {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    @include mq{

      // add grid gutter
      margin-left: 10px;
    }
  }
}
