//Image:
//.img--logo
//.img--frame
//.img--avatar

.img {
  &--logo {
  }

  &--frame {
    @include center;
    border: .5px solid $color-font;
    padding: 10px;
  }

  &--avatar {
    @include center;
    padding: 20px;
    max-width: 200px;
  }
}
