//Navigation:
//.nav
//.nav__item

.nav {
  list-style-type: none;
  @include flexy (flex, column);
  align-items: center;
  color: $color-font;
  padding: 0px;

  @include mq{
    @include flexy (flex, row);
  }

  a {
    text-decoration: none;
    color: $color-font;
    border-radius: 5px;
    padding: 10px 120px;

    @include mq {
      padding: 5px 20px;
    }
  }

  &__item {
    display: block;
    margin: 10px;

        a:hover {
        color: $white;
        background-color: $color-main;
        }
    }


}
