//Typography:
//.container
//.link
//.blockquote
//.headline--primary
//.headline--secondary

.container {
  font-family: $font-stack;

  p {
  color: $color-font;
  line-height: 1.5em;
  }
}


.link {
  color: $color-secondary;
  text-decoration: none;
  font-weight: bold;
}

.blockquote {
  font-size: 1.5em;
  font-style: italic;
  padding-left: 20px;
  line-height: 1.25em;
  color: $color-font;
  border-left: 8px solid $color-main;
  border-radius: 5px;
}

.headline {
  &--primary {
    color: $color-main;
    padding-left: 10px;
    font-weight: bold;
  }

  &--secondary {
    color: $color-font;
  }
}
